
body { background-color:#BD97E9 ;}  

img { padding:10px;
      border: 1px solid black;    
}

.highlight {
    color:blue;
    background-color: gray;
    padding:10px;
    margin:50px;

}

h2 { font-style: italic;}

main{
    margin:25px;
    background-color: white;
    padding: 25px;
}

nav {background-color: #E6E430;}

a:link {text-decoration: none; color:black;}
a:hover {text-decoration: underline; color:pink;}