
body { background-color:greenyellow ;}  

img { padding:10px;
      border: 1px solid black;    
}

.highlight {
    color:blue;
    background-color: goldenrod;
    padding:10px;
    margin:50px;

}

h2 { font-style: italic;}

a:link {text-decoration: none; color:black;}
a:hover {text-decoration: underline; color:pink;}